<ng-container *ngIf="vrb; else elseFalse">
  <p>Aspetta...</p>
</ng-container>
<ng-template #elseFalse>
  <div>
    <div>
      <input class="rounded-start" type="text" [(ngModel)]="task" />
      <button class="btnPlus rounded-end" type="button" (click)="addTask()">
        +
      </button>
    </div>
    <hr />
    <div *ngFor="let task of todos">
      <div *ngIf="task.completed" class="d-flex flex-row">
        <div class="divRow">
          <p class="">
            {{ task.title }}

            <button class="btn text-white btn1" (click)="change(task.id)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-check-all fts"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"
                />
              </svg>
            </button>
            <button
              (click)="removeTodo(task.id)"
              class="btn2 bg-danger text-white"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-x fts"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
                />
              </svg>
            </button>
          </p>
        </div>
      </div>
    </div></div
></ng-template>
